/*@import "./styles-old.css";
*/
/**********************************************
  Application wide base styles
**********************************************/
:root {
  --pink: #ee2c53;
  --gold: #f9a602;
  --yellow: #ffd956;
  --teal: #026a86;

  --link: blue;
  --base-font-family: Montserrat;
  --base-text-color: black;
  --base-bg-color: white;
  --banner-text-color: white;
  --banner-bg-color: var(--teal);
  --banner-bg-selected: var(--yellow);
  --widget-text-color: #404040;
  --widget-bg-color: #e0e0e0;
  --edit-text-color: #e0e0e0;
  --edit-bg-color: var(--teal);
  --mainmenu-selected-color: var(--gold);
  --win-dark: hsl(130, 70%, 25%);
  --lose-dark: hsl(0, 80%, 35%);
  --win-light: hsl(95, 50%, 75%);
  --lose-light: hsl(0, 80%, 96%);
  --winner-bg: hsl(120, 95%, 15%);
  --runnerup-bg: hsl(120, 15%, 60%);
}

body {
  background-color: var(--base-bg-color);
  color: var(--base-text-color);
  font-family: var(--base-font-family);
  text-align: left;
  padding: 0;
}
h1 {
  font-size: 1.5em;
  font-weight: 400;
  padding: 0;
  margin: 0;
}
h2 {
  font-size: 1.25em;
  font-weight: 200;
  padding: 0;
  margin: 0;
}
h3 {
  font-size: 1em;
  padding: 0;
  margin: 0;
}
h4 {
  font-size: 1em;
  padding: 0;
  margin: 0;
}
button {
  font-size: 1em;
  color: white;
  background-color: var(--teal);
  border: none;
  text-decoration: none;
  margin-left: 1em;
  padding: 0.25em 1em;
}

button.primary {
  font-size: 1.5em;
  background-color: var(--pink);
}
a,
.link,
.link:visited {
  color: var(--link);
  font-weight: bold;
  cursor: pointer;
}
a:hover,
.link:hover,
.mainmenu > div:hover,
.mainmenu > div.selected:hover,
button:hover,
button.primary:hover {
  background-color: #ff9900;
  color: black;
}
table {
  border-collapse: collapse;
}
th {
  padding: 2px 6px;
}
.smallcaps {
  font-variant: small-caps;
}
.smaller {
  font-size: 80%;
}
.larger {
  font-size: 120%;
}

/**********************************************
  Banner styles for the application header 
**********************************************/
.banner {
  height: 100px;
  margin-bottom: 20px;
  font-variant: small-caps;
}
.banner > .rotate {
  transform: rotate(-3.5deg);
}
.banner > .unrotate {
  transform: rotate(3.5deg);
}
.banner > div {
  transform: rotate(-3.5deg);
  position: absolute;
  top: -40px;
  left: -120px;
  width: 2000px;
  height: 90px;
  color: var(--banner-text-color);
  background-color: var(--banner-bg-color);
  padding-left: 150px;
  padding-top: 0em;
  margin: 0em 0em 0em 2em;
}
.banner h1 {
  position: absolute;
  left: 230px;
  top: 0px;
  margin: 0;
  padding: 0;
  font-size: 48px;
}
.banner img {
  position: relative;
  left: -55px;
  top: -15px;
}
.mainmenu {
  z-index: 0;
  position: absolute;
  top: 55px;
  left: 210px;
  font-size: 20px;
}
.mainmenu > div {
  display: inline-block;
  margin-left: 1em;
  cursor: pointer;
  padding: 4px;
}
.mainmenu > .selected {
  font-weight: bold;
  color: var(--banner-bg-color);
  background-color: var(--banner-bg-selected);
}

/**********************************************
  Styles for widgets 
**********************************************/
.wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
}
.widget {
  margin: 1em;
  padding: 1em;
  color: var(--widget-text-color);
  background-color: var(--widget-bg-color);
  border-radius: 0.5em;
  border: 1px solid #404040;
}
.widget .winner .name,
td.winner.name,
th.winner {
  font-weight: 700 !important;
  background-color: var(--winner-bg);
  color: white;
}
td.winner,
th.winner {
  background-color: var(--winner-bg);
  color: white;
}

.widget .runnerup .name,
td.runnerup.name,
th.runnerup {
  font-weight: 700 !important;
  background-color: var(--runnerup-bg);
  color: white;
}
td.runnerup,
th.runnerup {
  background-color: var(--runnerup-bg);
  color: white;
}

.widget .name {
  font-weight: 400;
}
.widget .summary {
  text-align: center;
  max-width: 40em;
}
.widget .summary h1 {
  font-size: 2.5em;
  font-weight: 700;
}
.widget .summary h2 {
  font-size: 1.75em;
  font-weight: 200;
  font-style: italic;
  margin-bottom: 0.25em;
}
.widget .summary h3 {
  font-size: 1.75em;
  font-weight: 600;
  font-style: normal;
}
.widget .summary h3.winner {
  font-size: 2.5em;
  font-weight: 600;
  font-style: normal;
}
.widget .summary h3.runnerup {
  font-size: 2em;
  font-weight: 400;
  font-style: italic;
}
.widget .summary h3.other {
  font-size: 1.75em;
  font-weight: 200;
  font-style: italic;
}
.widget .summary .candidate {
  font-size: 1.75em;
  font-weight: 400;
  font-style: normal;
  color: black;
  background-color: white;
  width: 100%;
  margin: 0.1em 0.75em 0.5em 0.75em;
}
.widget .summary .support {
  padding: 0;
  height: 0.75em;
}
.widget .summary .rating {
  margin: 0 0 -0.25em 0;
  padding: 0;
}

.widget span.percent {
  font-weight: 700;
}
.widget span.count {
  font-weight: 400;
  font-size: 75%;
}
.widget td {
  min-width: 0em;
}
.widget.score > div {
  margin: 0.5em;
  padding: 0.5em;
  color: black;
  background-color: white;
}
.widget.score table {
  border-bottom: 4px solid black;
  margin: 0.5em;
  width: 98%;
}
.widget.score h1 {
  font-size: 2.25em;
  font-weight: 200;
}
.widget.score th {
  border-bottom: 4px solid black;
}
.widget.score td {
  border-bottom: 2px solid grey;
  font-size: 1.25em;
  padding: 0.2em 0.4em;
  text-align: center;
}
.widget.score th.name {
  font-size: 1.2em;
  font-weight: 400;
  vertical-align: bottom;
  border-bottom: 4px solid black;
}
.widget.score th.average {
  font-size: 0.75em;
  font-weight: 400;
  text-align: center;
  padding: 0.25em 0.5em;
  border-bottom: 4px solid black;
}
.widget.score td.name {
  width: 12em;
  font-size: 1.25em;
  font-weight: 400;
  text-align: right;
}
.widget.score td.average {
  border-left: 1px solid grey;
  border-right: 1px solid grey;
}

.widget.runoff > div {
  margin: 0.5em;
  padding: 0.5em;
  color: black;
  background-color: white;
}
.widget.runoff table {
  border-bottom: 4px solid black;
  margin: 0.5em;
  width: 98%;
}
.widget.runoff h1 {
  font-size: 2.25em;
  font-weight: 200;
}
.widget.runoff th.empty {
  border: 0 solid black;
}
.widget.runoff th.versus {
  border: 0 solid black;
  font-size: 1em;
  font-weight: 400;
  font-style: italic;
  text-align: left;
  padding-left: 0.25em;
}
.widget.runoff th {
  font-size: 1.25em;
  font-weight: 400;
  text-align: center;
  vertical-align: bottom;
  border-bottom: 4px solid black;
  border-right: 1px solid grey;
}
.widget.runoff td {
  border-bottom: 2px solid grey;
  font-size: 1.25em;
  padding: 0.2em 0.4em;
  border-right: 1px solid grey;
  text-align: center;
}
.widget.runoff th.name {
  font-size: 1.2em;
  font-weight: 400;
  vertical-align: bottom;
  text-align: left;
  border-bottom: 4px solid black;
}
.widget.runoff td.name {
  width: 12em;
  font-size: 1.25em;
  font-weight: 400;
  text-align: right;
}
.widget.runoff td.average {
  border-left: 1px solid grey;
  border-right: 1px solid grey;
}

/* These are for the alternate star-vote style runoff matrix */
.widget.runoff .supportVotes {
  color: hsl(130, 60%, 35%);
  margin-right: 23px;
}
.widget.runoff .opposeVotes {
  color: hsl(0, 78%, 52%);
  margin-right: 23px;
}
.widget.runoff .noPrefVotes {
  color: hsl(0, 0%, 53%);
}

/**********************************************
  Styles for help content 
**********************************************/

.help {
  margin: 2em 0em 0em 1em;
  width: 70%;
  max-width: 75em;
  background-color: #ffd956;
  color: black;
  padding: 0.5em 1em 1em 1em;
  border-radius: 0.5em;
}
/* .edit.help {
  margin: 2em 0em 1em 1em;
  width: 70%;
  max-width: 75em;
  background-color: #ffd956;
  color: black;
  padding: 0.5em 1em 1em 1em;
  border-radius: 0.5em;
} */
.help .close {
  float: right;
  margin-top: 0em;
  margin-right: -0.5em;
  padding: 8px;
  font-size: 20px;
  cursor: pointer;
}
.help .close:hover {
  background-color: #ff9900;
}
.help h1 {
  font-size: 2em;
  font-weight: 400;
  padding: 0;
}
.helpTip {
  text-align: left;
  background-color: #ffd956 !important;
  margin-bottom: 0.5em;
  padding: 0.5em !important;
  color: black;
  border-radius: 0.5em;
}
.helpTip p {
  margin: 4px;
}

/**********************************************
  Edit page styles 
**********************************************/

.editmode {
  margin: 1em;
  padding: 0.5em 0em 1em 1.5em;
  color: var(--edit-text-color);
  background-color: var(--edit-bg-color);
}
.editmode textarea {
  width: 98%;
  height: calc(100vh - 28em);
  font-size: 1em;
  padding: 0.25em 0.5em;
}

.editmode input {
  width: 97%;
  font-size: 2em;
  padding: 0.25em 0.5em;
}

.editmode .buttons {
  margin-top: 0.5em;
}

.editmode h2 {
  margin-top: 0.5em;
  text-align: left;
}

.editmode .invalid {
  margin: 0.5em 1.52em 1em 0em;
  padding: 1em 1em 0.25em 1em;
  color: white;
  background-color: var(--pink);
  border-radius: 0.5em;
}
.editmode .label {
  margin-left: 2em;
  font-style: italic;
}
.editmode .invalid h3 {
  font-size: 1.25em;
}

/**********************************************
  Ballot styles
**********************************************/
.ballot {
  padding: 0.5em;
  text-align: center;
  font-size: 1em;
  background-color: white;
  color: black;
  max-width: 500px;
}

.ballot table {
  border-collapse: collapse;
  border: 0.2em solid #000000;
}

.ballot th {
  border-collapse: collapse;
  padding: 0em 0em 0em 0em;
  vertical-align: bottom;
  border-style: none;
}

.ballot td {
  border-collapse: collapse;
  border-top: 0.125em solid #808080;
  border-style: none;
}

.ballot .title {
  background-color: black;
  color: white;
  text-align: left;
  font-size: 1em;
  font-weight: 700;
  padding: 0.4em;
  border-bottom-style: hidden;
}
.ballot .instructions {
  background-color: white;
  color: black;
  font-weight: normal;
  font-style: normal;
  font-size: 0.9em;
  text-align: center;
  padding: 0em 0.5em;
  min-width: 20em;
}

.ballot .columnHeading p {
  font-weight: 400;
  text-align: left;
  padding: 0em;
}
.ballot .columnHeading div {
  font-weight: 400;
  text-align: center;
  font-weight: 700;
  margin: 0em 0em 0.5em 0em;
}
.ballot .columnHeading.error,
.ballot td.error {
  background-color: #f7cbcb;
  color: red;
}
.ballot td.error > div {
  border: 1px solid #000000;
  background-color: red;
}
.error {
  color: red;
}

.ballot .rowHeading {
  font-weight: 400;
  text-align: left;
  padding: 0.5em 1em 0.5em 0.5em;
  font-size: 0.8em;
  border-bottom: 0.1em solid #808080;
  border-right: 0.1em none white;
  min-width: 12em;
}

.rowHeading .candidate {
  font-weight: bold;
  font-size: 1.25em;
  text-align: right;
}

.circle {
  display: inline-flex;
  flex-direction: row;
  height: 1.2em;
  width: 1.2em;
  background-color: #fff;
  border: 2px solid #808080;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  cursor: pointer;
  margin: 0em;
}

.circle.filled,
.oval.filled {
  background-color: black;
}

.circle:hover,
.oval:hover {
  background-color: rgb(181, 235, 235);
  transition: background-color 200ms;
}

.error .oval.filled:hover {
  background-color: red !important;
}

.circle.filled:hover {
  background-color: black;
  color: #808080;
  transition: color 200ms;
}

.circle p {
  margin-top: -0.1em;
  margin-left: 0.16em;
  text-align: left;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.35em;
  font-weight: bold;
  transform: scale(1, 0.75);
  -webkit-transform: scale(1, 0.75); /* Safari and Chrome */
  -moz-transform: scale(1, 0.75); /* Firefox */
  -ms-transform: scale(1, 0.75); /* IE 9+ */
  -o-transform: scale(1, 0.75); /* Opera */
}

td.starLabel {
  font-size: 0.75em;
  text-align: right;
}
.starHeading p {
  font-size: 1.75em;
  font-weight: 700;
  margin: 0em;
  margin-left: 0em;
  padding: 0em;
  max-height: 1.2em;
  vertical-align: bottom;
  transform: scale(1, 0.7);
  -webkit-transform: scale(1, 0.7); /* Safari and Chrome */
  -moz-transform: scale(1, 0.7); /* Firefox */
  -ms-transform: scale(1, 0.7); /* IE 9+ */
  -o-transform: scale(1, 0.7); /* Opera */
}

.rowheading .starScore td {
  text-align: right;
}

td.starScore {
  border-style: none;
  border-top: 0.1em solid #808080;
  border-bottom: 0.1em solid #808080;
}
.starWorst {
  height: 0.75em;
  float: left;
  margin-left: 0.5em;
  bottom: 0em;
  font-size: 0.75em;
  vertical-align: bottom;
}
.starBest {
  height: 0.75em;
  float: right;
  margin-right: 0.5em;
  bottom: 0em;
  font-size: 0.75em;
  vertical-align: bottom;
}
.submit {
  margin: 0.5em;
  cursor: pointer;
}
